<footer>
  <div class="links">
    <ul class="socials">
      <li>
        <i class="fa fa-facebook fa-5x icon" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-twitter fa-5x icon" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-instagram fa-5x icon" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-pinterest fa-5x icon" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
  <div class="footer-info">
    <p>Hackerhaus is built by israeliTech in San Francisco, CA<span class="fair-housing">
    <%= image_tag("https://d214hhm15p4t1d.cloudfront.net/7_5_8/z/img/icons/fair-housing.png", size: "16x14") %></span><span class="housing-text">Fair Housing & Equal Opportunity</span> <span class="copywrite">© 2017 Hackerhaus, Inc.</span>
    </p> 
  </div>
</footer>