<nav id="nav" class="navbar-default">
  <div class="nav-content">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header logo">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <%= image_tag("logo.png", size: "50x50") %>
        <h3 class="dba">H@ckerhaus</h3>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
      <ul id="link-list" class="nav navbar-nav navbar-right site-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Chinatown</a></li>
            <li><a href="#">Lower Nob</a></li>
            <li><a href="#">SOMA</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Berkeley</a></li>
            <li><a href="#">Oakland</a></li>
          </ul>
        </li>
        <li>
          <% if current_user %>
            <%= link_to "Log Out", "/session", method: "DELETE" %>
          <% else %>
            <%= link_to "Log In", new_session_path %>
          <% end %>
        </li>
        <li><span >
          <%= link_to "Post Your Rentals", new_property_path, class: "post-rental-btn btn btn-default" %></span>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


