<div>
  <div class="jumbotron specialjum">
    <div class="container">
      <div class="search-box">
        <div class="row">
          <h1>Hack your next stay...</h1>
          <h2>Search and book listings in your destination of choice</h2>
        </div>
        <div class="row">
          <form class="form-search" action="/search" method="GET">
            <div class="input-group">
              <input type="text" name='query' class='form-control' id='searchinput input-large search-query' placeholder='Find a home in...'>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-info">Search</button>
              </span>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <% @properties.each do |p| %>
    
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3><%= p.title %></h3>
            <h4><%= p.city_name %> | <%= p.price %></h4>
            <p><%= p.description %></p>
            <p><a href="#" class="btn btn-primary" role="button">Book Tour</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
          </div>
        </div>
      </div>

    <% end %>


</div>