
<div class="container">
  <div class="row">

    <div class="list-main col-md-6">
      <% @properties.each do |p| %>
        <div class="listing">
          <div class="listing-pic">
            <img src="http://placehold.it/175x100" alt="neighborhood">
          </div>
          <div class="caption">
            <h3><%= p.title %> | <%= p.city_name %></h3>
            <p><%= p.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="list-secondary">
      <div sticky class="map-container">
        <div class="map">
          <div id='map-one' class='map'></div>
            <script>
              L.mapbox.accessToken = "pk.eyJ1Ijoic3BhY2Vib3k2OSIsImEiOiJjaWtydTV5Y3MwNG5ldHptMWQyMG5zM293In0.aRElpBXtyEqNlqft55sRzw";
              L.mapbox.map('map-one', 'mapbox.streets').setView([37.781, -122.4197], 13);
            
            </script>
        </div>
      </div>
    </div>

  </div>
</div>
    
