
<div class="page-header">
  <h1>Search Results</h1>
</div>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>City</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |p| %>
    <tr>
      <td>
        <%= p.title %>
      </td>
      <td>
        <%= p.description %>
      </td>
      <td>
        <%= p.city_name %>
      </td>
      <td>
        <%= p.price %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
  
<div class="map-container">
  <div class="map">
    <div id='map' style='width: 400px; height: 300px;'></div>
      <script>
      mapboxgl.accessToken = "pk.eyJ1Ijoic3BhY2Vib3k2OSIsImEiOiJjaWtydTV5Y3MwNG5ldHptMWQyMG5zM293In0.aRElpBXtyEqNlqft55sRzw";
      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v9'
      });
      </script>
  </div>
</div>

