body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
}

h2 {
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

#search-box {
  height: 520px;
  background: url('golden-gate.jpg') 10% 120% no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  .content {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    width: 60%;
    vertical-align: middle;
    .home-tagline {
      text-shadow: 6px 4px 6px rgba(46,59,83,.5);
    }
    .home-subheader {
      text-shadow: 0 4px 4px rgba(46,59,83,.5);
    }
  }
}


.neighborhoods {
  margin-top: 5%;
  
}

#hacker-friends{
  height: 450px;
  background: url('friends-star.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

.community {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {

  }
  .subtitle {
    text-align: center;
  }
  .blurb {
    text-align: center;
    margin: 5% auto;
    width: 70%;
    font-size: 1.1em;
    line-height: 1.2em;
  }
}

#house-dinner {
  height: 450px;
  background: url('bonfire-friends.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}