h1.form-title {
  color: magenta;
  padding: 2%;
}

.form-wrapper {
  margin: 3%;
  .inline {
    padding-left: 0;
  }
  .last {
    padding-right: 0;
  }
  .upload {
    width: 100%;
    display: inline-block;
    input {
      display: inline-block;
      color: cornflowerblue;
    }
  }
}